<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>06_列表渲染_过滤与排序</title>
</head>
<body>
<!--
1. 列表过滤
2. 列表排序
-->
<div id="demo">
  <input type="text" v-model="searchName">
  <ul>
    <li v-for="(p, index) in filterPersons" :key="p.id">
      {{p.id}}--{{p.name}}---{{p.age}}
    </li>
  </ul>
  <button @click="sortType">年龄升序</button>
  <button @click="sortType">年龄降序</button>
  <button @click="sortType">原本顺序</button>
</div>

<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript">
  let time = Date.now()
  new Vue({
    el: '#demo',
    data: {
      persons: [
      {id: time, name: 'Tom', age: 14},
        {id: time+1, name: 'Jack', age: 12},
        {id: time+2, name: 'Bob', age: 13},
        {id: time+3, name: 'Jerry', age: 15},
        {id: time+4, name: 'Mack', age: 11},
      ],
      searchName: '',
      sortType: 0
    },
    computed: {
      filterPersons() {
        const {persons, searchName, sortType} = this
        const arr = persons.filter(p => p.name.indexOf(searchName)!==-1)

        if(sortType!==0){
          arr.sort((p1, p2) => {
            if (sortType === 1){
              return p1.age - p2.age
            }else{
              return p2.age - p1.age
            }
          })
        }
        return arr
      }
    },

  })
</script>
</body>
</html>